@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
a{
    text-decoration: none;
}
.hero{
    width: 100%;
    height: 100vh;
    background: url(img/bg1.jpg);
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    max-height: 60px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #fd4766;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: .3s;
    bottom: 0;
}

nav ul li a:hover:after{
    width: 100%;
}
.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
}
.btn:hover{
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
.content .title{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #fd4766;
}
.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}

.about-content {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 100px;
}

.about-title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    color: #fd4766
}
.about-image{
    text-align: center;
}

.about-text{
    font-weight: bold;
}

.LoveHate{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 30px;
}
.HateS{
    margin-bottom: 50px;
}


#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0,0.9);
    color: white;padding: 20px;
}
.form{
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;

}
#msg{
    width: 20%;
    padding: 10;
    margin: 15px;
    border: none;
    outline: none;

}
#sent{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;    
}
#sent:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
    
}
.container{
    max-width: 80vw;
   
    margin-left: auto;
    margin-right: auto;
}
.Hate-Square img{
    max-width: 250px;
}

.Hate-Square{
    text-align: center;
}